---
Checks:          'cppcoreguidelines-*, hicpp-*, clang-analyzer-*, -hicpp-signed-bitwise, -hicpp-vararg, -cppcoreguidelines-pro-type-vararg'
WarningsAsErrors: ''
HeaderFilterRegex: ''
FormatStyle:     file
